body {
    display: flex;
    flex-direction: column;
    font-family: "Times New", Times, serif;
}

.minicontent {
    font-size: 16px;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0 ;
    background-color: #333366;
}

.mylinks {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #B0C4DE;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

#imagesize {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

.content1 {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: #333366;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

button {
    background-color: #B0C4DE;
    border-radius: 16px;
}

#images {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}

.infotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000080;
    font-size: 36px;
    font-weight: extra-bold;
}

.pictures {
    display: flex;
    justify-content: space-around;
}

h6 {
    font-size: 18px;
    font-weight: extra-bold;
    color: #000080;
    display: flex;
    justify-content: center;
}

.quote  {
    font-size: 36px;
    font-weight: light italic;
    color: #000080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.author {
    font-size: 18px;
    font-weight: extra-bold;
    color: #000080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.quotesegment {
    background-color: #E0FFFF;
    padding: 18px;
}

.text-center{
    text-align: center;
    color: #F9FAF8;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #333366;
}